{% extends "jira/base.html" %}
{% block title %}  Task  {% endblock%}
{% block main %}
    <h4>Task</h4>
    <ul>
        {% for error in form.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
    <form action = "{% url 'jira:task' project.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <p>{{ form.title.label_tag }}</p>
        <p>{{ form.title }}</p>

        <p>{{ form.description.label_tag }}</p>
        <p>{{ form.description }}</p>

        <p>{{ form.deadline.label_tag }}</p>
         <p>{{form.deadline}}</p>


        <p>{{ form.notes_id.label_tag }}</p>
        <p>{{ form.notes_id }}</p>

        <p>{{ form.responsible_id.label_tag }}</p>
        <p>{{ form.responsible_id }}</p>

        <p>{{ form.status_id.label_tag }}</p>
        <p>{{ form.status_id }}</p>

        <p><input type="submit" value="create"></p>
    </form>
{% endblock %}